# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Task 3.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\nanan\RiderProjects\Task 3\.idea\.idea.Task 3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
